In [1]:
from bs4 import BeautifulSoup
import os
import requests
import urllib
import shutil
import re
import pandas as pd
import numpy as np

In [2]:
records = pd.read_csv('records.csv', index_col=0)

In [3]:
for i in range(1, 5):
    records['color{}'.format(i)] = np.zeros(360)

In [4]:
records

,team_name,wins,losses,w/l_ratio,most_recent_elo,team_city,team_state,team_id,color1,color2,color3,color4
0,Abilene Chr,78,106,0.423913,687.653203,Abilene,TX,1101,0.0,0.0,0.0,0.0
1,Air Force,243,278,0.466411,668.757677,USAF Academy,CO,1102,0.0,0.0,0.0,0.0
2,Akron,364,198,0.647687,793.686137,Akron,OH,1103,0.0,0.0,0.0,0.0
3,Alabama,324,238,0.576512,801.734237,Tuscaloosa,AL,1104,0.0,0.0,0.0,0.0
4,Alabama A&M,151,340,0.307536,485.358751,Normal,AL,1105,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
355,Wright St,309,236,0.566972,737.454923,Dayton,OH,1460,0.0,0.0,0.0,0.0
356,Wyoming,252,285,0.469274,665.159126,Laramie,WY,1461,0.0,0.0,0.0,0.0
357,Xavier,401,175,0.696181,834.066729,Cincinnati,OH,1462,0.0,0.0,0.0,0.0
358,Yale,270,228,0.542169,778.892366,New Haven,CT,1463,0.0,0.0,0.0,0.0
359,Youngstown St,148,337,0.305155,630.565435,Youngstown,OH,1464,0.0,0.0,0.0,0.0

In [5]:
url = "https://dynasties.operationsports.com/team-colors.php?sport=ncaa"
r = requests.get(url)
soup = BeautifulSoup(r.content, 'html.parser')
lst = soup.select('td')

In [6]:
teamColorsDict= {}
for item in lst[1:]:
    team = item.select('h3')[0].text
    color_boxes = item.select('.team-color-box')
    colors = [box['style'].strip(';').split(':')[1] for box in color_boxes][::-1]
    teamColorsDict[team] = colors

In [7]:
ct = 0
for row in records.itertuples():
    team_name = row.team_name
    if team_name.startswith('E '):
        team_name2 = team_name.replace('E ','Eastern ' )
    elif team_name.startswith('NC '):
        team_name2 = team_name.replace('NC ','North Carolina ' )
    elif team_name.startswith('S ') and team_name != 'S Illinois':
        team_name2 = team_name.replace('S ','South ' )
    elif team_name.startswith('CS '):
        team_name2 = team_name.replace('CS ','Cal State ' )
    elif team_name.startswith('FL '):
        team_name2 = team_name.replace('FL ','Florida ' )
    elif ('Intl') in team_name:
        team_name2 = team_name.replace('Intl','International' )
    elif team_name.startswith('G '):
        team_name2 = team_name.replace('G ','George ' )
    elif team_name.startswith('Loy Marymount'):
        team_name2 = team_name.replace('Loy Marymount','Loyola Marymount' )
    elif team_name.startswith('Miami'):
        team_name2 = team_name.replace('FL','(FL)' )
        team_name2 = team_name2.replace('OH','(OH)' )
    elif team_name.startswith('Missouri KC'):
        team_name2 = team_name.replace('Missouri ','UM' )
    elif team_name.startswith('Monmouth'):
        team_name2 = team_name.replace('NJ','' )
    elif team_name.startswith('MD E'):
        team_name2 = team_name.replace('MD E','Maryland-Eastern' )
    elif team_name.startswith('MS '):
        team_name2 = team_name.replace('MS ','Mississippi ' )
    elif team_name.startswith('MTSU'):
        team_name2 = team_name.replace('MTSU','Middle Tennessee ' )
    elif team_name.startswith('N '):
        team_name2 = team_name.replace('N ','Northern ' )
    elif ('Ole Miss') in team_name:
        team_name2 = 'Mississippi Rebels'
    elif 'S Illinois' in team_name:
        team_name2 = 'Southern Illinois'
    else:
        team_name2 = team_name
#     print(team_name, ' --- ', team_name2)
    for k, colors in teamColorsDict.items():
        if team_name2 in k:
#             print(colors)
            for i, val in enumerate(colors, start=1):
                records['color{}'.format(i)][records.team_name == team_name] = val
            
            ct += 1
            break
            
print("Number of teams colors extracted for: ", ct)

/Users/jared/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Number of teams colors extracted for:  297

In [8]:
records.head()

,team_name,wins,losses,w/l_ratio,most_recent_elo,team_city,team_state,team_id,color1,color2,color3,color4
0,Abilene Chr,78,106,0.423913,687.653203,Abilene,TX,1101,0,0,0,0
1,Air Force,243,278,0.466411,668.757677,USAF Academy,CO,1102,#0061AA,#FFFFFF,0,0
2,Akron,364,198,0.647687,793.686137,Akron,OH,1103,#000E41,#C29C41,#FFFFFF,0
3,Alabama,324,238,0.576512,801.734237,Tuscaloosa,AL,1104,#A80532,#FFFFFF,#CACCCE,0
4,Alabama A&M,151,340,0.307536,485.358751,Normal,AL,1105,#750000,#FFFFFF,0,0

In [9]:
missing_colors = records[records.color1 == 0]
print('Missing colors for ', missing_colors.shape[0], 'teams')
display(missing_colors)

Missing colors for  63 teams

,team_name,wins,losses,w/l_ratio,most_recent_elo,team_city,team_state,team_id,color1,color2,color3,color4
0,Abilene Chr,78,106,0.423913,687.653203,Abilene,TX,1101,0,0,0,0
6,Albany NY,295,264,0.527728,594.312954,Albany,NY,1107,0,0,0,0
12,Ark Little Rock,262,265,0.497154,704.600947,Little Rock,AR,1114,0,0,0,0
13,Ark Pine Bluff,172,367,0.319109,456.117652,Pine Bluff,AR,1115,0,0,0,0
19,BYU,397,167,0.703901,848.059116,Provo,UT,1140,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
339,W Michigan,286,265,0.519056,649.613823,Kalamazoo,MI,1444,0,0,0,0
340,W Salem St,26,81,0.242991,554.680460,Winston-Salem,NC,1445,0,0,0,0
341,WI Green Bay,288,245,0.540338,678.137077,Green Bay,WI,1453,0,0,0,0
342,WI Milwaukee,275,265,0.509259,593.566394,Milwaukee,WI,1454,0,0,0,0
343,WKU,346,214,0.617857,746.047448,Bowling Green,KY,1443,0,0,0,0

In [10]:
records[records.team_name.str.contains('Intl')]

,team_name,wins,losses,w/l_ratio,most_recent_elo,team_city,team_state,team_id,color1,color2,color3,color4
95,Florida Intl,184,333,0.355899,688.790679,Miami,FL,1198,#002D62,#C5960B,#FFFFFF,0

In [11]:
colors = pd.read_csv('team_colors.csv', index_col=0)

In [12]:
colors = colors.sort_values(by='team_name')

In [13]:
# colors.to_csv('team_colors.csv')

### create script to use with preferences.tps

In [14]:
script = ""
for hexcode in colors.color1:
    script += "<color>" + hexcode.upper() + "</color>"

## Scraping Logos

In [15]:
records.insert(loc=12, column='logo_url', value='')

In [16]:
logo_urls = {}
team = item.select('h3')[0].text

for tag in lst[1:]:
    url = (tag['style']
              .rstrip(") no-repeat left; background-size:110px 110px;") 
              .lstrip("background:url(")
              .strip("'")
             )
    team = tag.select('h3')[0].text
    logo_urls[team] = url

In [17]:
ct = 0
for row in records.itertuples():
    team_name = row.team_name
    if team_name.startswith('E '):
        team_name2 = team_name.replace('E ','Eastern ' )
    elif team_name.startswith('NC '):
        team_name2 = team_name.replace('NC ','North Carolina ' )
    elif team_name.startswith('S ') and team_name != 'S Illinois':
        team_name2 = team_name.replace('S ','South ' )
    elif team_name.startswith('CS '):
        team_name2 = team_name.replace('CS ','Cal State ' )
    elif team_name.startswith('FL '):
        team_name2 = team_name.replace('FL ','Florida ' )
    elif ('Intl') in team_name:
        team_name2 = team_name.replace('Intl','International' )
    elif team_name.startswith('G '):
        team_name2 = team_name.replace('G ','George ' )
    elif team_name.startswith('Loy Marymount'):
        team_name2 = team_name.replace('Loy Marymount','Loyola Marymount' )
    elif team_name.startswith('Miami'):
        team_name2 = team_name.replace('FL','(FL)' )
        team_name2 = team_name2.replace('OH','(OH)' )
    elif team_name.startswith('Missouri KC'):
        team_name2 = team_name.replace('Missouri ','UM' )
    elif team_name.startswith('Monmouth'):
        team_name2 = team_name.replace('NJ','' )
    elif team_name.startswith('MD E'):
        team_name2 = team_name.replace('MD E','Maryland-Eastern' )
    elif team_name.startswith('MS '):
        team_name2 = team_name.replace('MS ','Mississippi ' )
    elif team_name.startswith('MTSU'):
        team_name2 = team_name.replace('MTSU','Middle Tennessee ' )
    elif team_name.startswith('N '):
        team_name2 = team_name.replace('N ','Northern ' )
    elif ('Ole Miss') in team_name:
        team_name2 = 'Mississippi Rebels'
    elif 'S Illinois' in team_name:
        team_name2 = 'Southern Illinois'
    else:
        team_name2 = team_name
#     print(team_name, ' --- ', team_name2)
    for team, logo_url in logo_urls.items():
        if (team_name2 in team) and (logo_url not in records.logo_url.values):
#             print(logo_url)
            
            records['logo_url'][records.team_name == team_name] = logo_url
            
            ct += 1
            break
            
print("Number of teams colors extracted for: ", ct)

/Users/jared/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Number of teams colors extracted for:  295

In [18]:
missing_logos = records[records.logo_url == '']
print('Missing logos for ', missing_logos.shape[0], 'teams')
display(missing_logos)

Missing logos for  65 teams

,team_name,wins,losses,w/l_ratio,most_recent_elo,team_city,team_state,team_id,color1,color2,color3,color4,logo_url
0,Abilene Chr,78,106,0.423913,687.653203,Abilene,TX,1101,0,0,0,0,
6,Albany NY,295,264,0.527728,594.312954,Albany,NY,1107,0,0,0,0,
12,Ark Little Rock,262,265,0.497154,704.600947,Little Rock,AR,1114,0,0,0,0,
13,Ark Pine Bluff,172,367,0.319109,456.117652,Pine Bluff,AR,1115,0,0,0,0,
19,BYU,397,167,0.703901,848.059116,Provo,UT,1140,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,W Michigan,286,265,0.519056,649.613823,Kalamazoo,MI,1444,0,0,0,0,
340,W Salem St,26,81,0.242991,554.680460,Winston-Salem,NC,1445,0,0,0,0,
341,WI Green Bay,288,245,0.540338,678.137077,Green Bay,WI,1453,0,0,0,0,
342,WI Milwaukee,275,265,0.509259,593.566394,Milwaukee,WI,1454,0,0,0,0,
343,WKU,346,214,0.617857,746.047448,Bowling Green,KY,1443,0,0,0,0,

In [19]:
logos = records[['team_name', 'team_id', 'logo_url']]

In [20]:
# logos.to_csv('logos_url.csv')

In [21]:
default_address = ''

In [22]:
for row in logos.itertuples():
    save_path = "img/{}.png".format(row.team_id)
    if row.logo_url == '':
        src = default_address
        urllib.request.urlretrieve(src, save_path)
    else:
        src = row.logo_url
        r = requests.get(src, stream=True)
        if r.status_code == 200:
            with open(save_path, 'wb') as f:
                r.raw.decode_content = True
                shutil.copyfileobj(r.raw, f)
#     print(src[:20])
#     print(save_path)